<section id="about" class="about-section">
    <div class="container">
      <h2>ABOUT US</h2>
      <p>WE’VE BEEN AT THE FOREFRONT OF INNOVATION FOR MORE THAN A HUNDRED YEARS, HELPING TO POWER, PROTECT AND CONNECT THE MODERN WORLD</p>
      <p>Today, we’re working on a multi-year transformation to unlock our full potential. We’re building on our enduring, distinctive strengths to create a high-performing, competitive, resilient and growing Rolls-Royce. We will continue to design, build and maintain systems that provide mission-critical power to customers.</p>
      <p>Delivering the proposition will make us a stronger partner to our customers as they face future challenges and opportunities. We will unlock our full potential by turning engineering excellence into strong financial performance.

        To implement our strategy, we will be disciplined, agile and systematic. We will continue to have a tight focus on priorities, improve commercial discipline and seek efficiency in every step, whilst never compromising on integrity or safety. We will put the business on a stronger financial footing by delivering a sustainable reduction in working capital, higher operating margins and improved operational performance.Improving profitability will give us options to grow the business and enhance shareholder returns. This performance shift is also crucial to creating more opportunities for our people to be part of an energising, rewarding and world-leading team.</p>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>All rights reserved 2024</p>
    </div>
  </footer>