<div>
  <div class="topRight">
    <a routerLink="/">Home</a>
    <a routerLink="/book">Book</a>
    <a routerLink="/login">Logout</a>
  </div>
  <div class="top">
    <div class="slide">
      <img class="myslide" src="/assets/m1.jpg" alt="Slide 1" />
      <img class="myslide" src="/assets/m2.jpg" alt="Slide 2" />
      <img class="myslide" src="/assets/m3.jpg" alt="Slide 3" />
      <img class="myslide" src="/assets/m4.jpg" alt="Slide 4" />
      <div class="head">
        <h1 id="meettext">Special Event and <br /> Meetup</h1>
      </div>
    </div>
  </div>
  <div class="details">
    <div class="pic1">
      <img src="/assets/m5.jpg" alt="Standup and Singing" />
    </div>
    <div class="text">
      <h1 id="text1">Standup and</h1>
      <h1 id="ceremony">Singing</h1>
    </div>
    <div class="pic2">
      <img src="/assets/m6.jpg" alt="Dinning" />
    </div>
    <div class="text2">
      <h1 id="text2">Dinning</h1>
    </div>
    <div class="pic3">
      <img src="/assets/m7.jpg" alt="Stage for Discussion" />
    </div>
    <div class="text3">
      <h1 id="text3">Stage for Discussion</h1>
    </div>
    <div class="pic4">
      <img src="/assets/m8.jpg" alt="Photography" />
    </div>
    <div class="text4">
      <h1 id="text4">Photography</h1>
    </div>
    <div class="button">
      <a routerLink="/final" class="bttn">Book Now</a>
    </div>
  </div>
</div>
