<section id="home" class="hero">
    <div class="container">
      <h1>Discover Our Latest Models</h1>
      <p>Explore the features and specifications of our latest car models.</p>
      <a href="" class="cbutton">View Models</a>
    </div>
  </section>
  <section id="models" class="car-models">
    <div class="container">
      <h2>Our Car Models</h2>
      <div class="models-grid" id="modelsGrid">
        <div class="model-card">
          <img src="assets/image/a1.jpg" alt="Model 1">
          <h3>phantom</h3>
          <p>EMBRACE THE POWER OF AN ICON.
            EXPERIENCE THE VITALITY OF EVOLUTION..</p>
        </div>
        <div class="model-card">
          <img src="assets/image/a2.jpg" alt="Model 2">
          <h3>Ghost</h3>
          <p>GHOST PRESENTS A WORLD OF BOUNDLESS POTENTIAL. ITS PURITY LIBERATES THE IMAGINATION, INVITING YOU TO CRAFT A MOTOR CAR THAT IS A COMPLETE ORIGINAL.</p>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <p>All rights reserved 2024</p>
    </div>
  </footer>
  