<div>
  <div class="topRight">
    <a routerLink="/">Home</a>
    <a routerLink="/book">Book</a>
    <a routerLink="/login">Logout</a>
  </div>
  <div class="top">
    <div class="slide">
      <img class="myslide" src="/assets/c1.jpg" alt="Slide 1" />
      <img class="myslide" src="/assets/c2.jpg" alt="Slide 2" />
      <img class="myslide" src="/assets/c3.jpg" alt="Slide 3" />
      <img class="myslide" src="/assets/c4.jpg" alt="Slide 4" />
      <div class="head">
        <h1 id="ttext">Concert Package</h1>
      </div>
    </div>
  </div>
  <div class="details">
    <div class="pic1">
      <img src="/assets/c5.jpg" alt="Stage" />
    </div>
    <div class="text1">
      <h1>Stage</h1>
    </div>
    <div class="pic2">
      <img src="/assets/c6.jpg" alt="Stadium" />
    </div>
    <div class="text2">
      <h1 id="text2">Stadium</h1>
    </div>
    <div class="pic3">
      <img src="/assets/c7.jpg" alt="Lighting and Smoke" />
    </div>
    <div class="text3">
      <h1 id="context3">Lighting and Smoke</h1>
    </div>
    <div class="pic4">
      <img src="/assets/c8.jpg" alt="Food Stalls" />
    </div>
    <div class="text4">
      <h1 id="context4">Food Stalls</h1>
    </div>
    <div class="button">
      <a routerLink="/final" class="bttn">Book Now</a>
    </div>
  </div>
</div>
