<div class="signup">
  <div class="glass">
    <h1>Sign Up</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Username"
        required
      />
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Email"
        required
      />
      <input
        type="text"
        id="phone-number"
        formControlName="phone_number"
        placeholder="Phone number"
        required
      />
      <input
        type="text"
        id="location"
        formControlName="location"
        placeholder="Location"
        required
      />
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Password"
        required
      />
      <button type="submit">Sign Up</button>
      <p *ngIf="msg" class="message">{{ msg }}</p>
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </form>
  </div>
</div>
