<div class="sidebar">
  <div class="profile">
    <img src="/assets/admin.jpg" alt="Profile" />
    <p>user</p>
  </div>
  <ul>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/CreateEvent">Create Events</a></li>
    <li><a routerLink="/ShowEvent">Show Events</a></li>
    <li><a routerLink="/book">Book tickets</a></li>
    <li><a routerLink="/login">Logout</a></li>
  </ul>
</div>

<div class="eventcreation">
  <h1 id="cehead">Elegant Edge Events!</h1>
  <div class="event-form-container">
    <div class="event-form-box">
      <h2>Create Event</h2>
      <form [formGroup]="eventForm" (ngSubmit)="handleSubmit()">
        <label for="eventDate">Date:</label>
        <input
          type="date"
          id="eventDate"
          formControlName="eventDate"
        /><br /><br />

        <label for="eventLocation">Location:</label>
        <input
          type="text"
          id="eventLocation"
          formControlName="eventLocation"
        /><br /><br />

        <label for="phoneNumber">Phone Number:</label>
        <input
          type="tel"
          id="phoneNumber"
          formControlName="phoneNumber"
        /><br /><br />

        <label for="eventType">Event Type:</label>
        <input
          type="text"
          id="eventType"
          formControlName="eventType"
        /><br /><br />

        <label for="eventDescription">Event Description:</label>
        <textarea
          id="eventDescription"
          formControlName="eventDescription"
        ></textarea><br /><br />

        <input type="submit" value="Submit" />
        <p *ngIf="message">{{ message }}</p>
      </form>
    </div>
  </div>
</div>

<div class="Table">
  <h1 id="yr">Your Events</h1>
  <div class="EventList">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Location</th>
          <th>Phone Number</th>
          <th>Event Type</th>
          <th>Event Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>{{ event.eventDate }}</td>
          <td>{{ event.eventLocation }}</td>
          <td>{{ event.phoneNumber }}</td>
          <td>{{ event.eventType }}</td>
          <td>{{ event.eventDescription }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
