* {
  font-family: Arial, Helvetica, sans-serif;

}

.auth-background {
  background: rgba(255, 255, 255, 0.153);
  background-image: url('/assets/c1.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.glass {
  background: rgba(255, 255, 255, 0.153);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.235);
}


.glass h1 {
  text-align: center;
  color: steelblue;
}

.glass form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glass input {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.glass input::placeholder {
  color: #000;
  font-size: 16px;
}

.glass button {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background: linear-gradient(135deg, #f54ea2, #ff7676);
  color: #fff;
  cursor: pointer;
}

.glass button:hover {
  background: linear-gradient(135deg, #ff7676, #f54ea2);
}

.glass button.signup-btn, .glass button.login-btn {
  padding: 10px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  color: #fff;
  cursor: pointer;
  display: block;
}

p {
  color: white;
  text-align: center;
}

a {
  color: hotpink;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.signup, .login {
  width: 350px;
  display: block;
}
