<div class="dashboard">
  <div class="sidebar">
    <div class="profile">
      <img src="/assets/admin.jpg" alt="User" />
      <p>User</p>
    </div>
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/CreateEvent">Create Events</a></li>
      <li><a routerLink="/ShowEvent">Show Events</a></li>
      <li><a routerLink="/book">Book Tickets</a></li>
      <li><a routerLink="/login">Logout</a></li>
    </ul>
  </div>
  <div class="side">
    <header>
      Elegant Edge Events!
    </header>
    <div class="main">
      <div class="events">
        <h2>UPCOMING OTHER EVENTS</h2>
        <table class="eventstable">
          <thead>
            <tr>
              <th>Date</th>
              <th>Event</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>April 20, 2024</td>
              <td>Concert</td>
              <td>Chennai</td>
            </tr>
            <tr>
              <td>April 21, 2024</td>
              <td>Birthday</td>
              <td>Pondy</td>
            </tr>
            <tr>
              <td>April 22, 2024</td>
              <td>Community Yoga</td>
              <td>Pondy</td>
            </tr>
            <tr>
              <td>April 23, 2024</td>
              <td>F1 Car</td>
              <td>Chennai</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="map"></div>
    </div>
  </div>
  <footer>
    <p>&copy; 2024 Elegant Edge Events. All rights reserved.</p>
  </footer>
</div>
