<div>
  <div class="topRight">
    <a routerLink="/event">Home</a>
    <a routerLink="/book">Book</a>
    <a routerLink="/login">Logout</a>
  </div>
  <div class="top">
    <div class="slide">
      <img class="myslide" src="assets/t1.jpg" alt="Track 1" />
      <img class="myslide" src="assets/t2.jpg" alt="Track 2" />
      <img class="myslide" src="assets/t3.jpg" alt="Track 3" />
      <img class="myslide" src="assets/t4.jpg" alt="Track 4" />
      <div class="head">
        <h1 id="ttext">Tracks Package</h1>
      </div>
    </div>
  </div>
  <div class="details">
    <div class="pic1">
      <img src="assets/t5.jpg" alt="Offroading" />
    </div>
    <div class="text">
      <h1 id="text1">Offroading</h1>
    </div>
    <div class="pic2">
      <img src="assets/t6.jpg" alt="Stunts" />
    </div>
    <div class="text2">
      <h1 id="text2">Stunts</h1>
    </div>
    <div class="pic3">
      <img src="assets/t7.jpg" alt="Mud Race" />
    </div>
    <div class="text3">
      <h1 id="text3">Mud Race</h1>
    </div>
    <div class="pic4">
      <img src="assets/t8.jpg" alt="Charity Shows" />
    </div>
    <div class="text4">
      <h1 id="text4">Charity Shows</h1>
    </div>
    <div class="button">
      <a routerLink="/final" class="bttn">Book Now</a>
    </div>
  </div>
</div>
