<div>
  <div class="topRight">
    <a routerLink="/event">Home</a>
    <a routerLink="/book">Book</a>
    <a routerLink="/login">Logout</a>
  </div>
  <div class="top">
    <div class="slide">
      <img class="myslide" src="/assets/s1.jpg" alt="Slide 1" />
      <img class="myslide" src="/assets/s2.jpg" alt="Slide 2" />
      <img class="myslide" src="/assets/s3.jpg" alt="Slide 3" />
      <img class="myslide" src="/assets/s4.jpg" alt="Slide 4" />
      <div class="head">
        <h1 id="ttext">Sports Package</h1>
      </div>
    </div>
  </div>
  <div class="details">
    <div class="pic1">
      <img src="/assets/s5.jpg" alt="Practice Stage" />
    </div>
    <div class="text">
      <h1 id="sptext1">Practice Stage</h1>
    </div>
    <div class="pic2">
      <img src="/assets/s6.jpg" alt="Stadium" />
    </div>
    <div class="text2">
      <h1 id="text2">Stadium</h1>
    </div>
    <div class="pic3">
      <img src="/assets/s7.jpg" alt="Podium" />
    </div>
    <div class="text3">
      <h1 id="text3">Podium</h1>
    </div>
    <div class="pic4">
      <img src="/assets/s8.jpg" alt="DJ Setup" />
    </div>
    <div class="text4">
      <h1 id="text4">DJ Setup</h1>
    </div>
    <div class="button">
      <a routerLink="/final" class="bttn">Book Now</a>
    </div>
  </div>
</div>
